@use "sass:math";

.card {
  display: block;
  position: relative;
  padding: $base-padding;
  border: solid $border-sm $light;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);
  transition: all 0.2s ease;
  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $base-font-size;
    a {
      text-decoration: underline;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: none;
  }

  .card-questions-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 55%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-around;

    span {
      overflow: hidden;
      width: 100%;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.3s;
        font-weight: bold;

        input[type="radio"] {
          position: relative;
          display: none;
        }
      }
    }
    a{
      font-weight: bold;
      font-size: $font-size-lg;
    }
  }
}
