@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
* {
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

input[type="checkbox"] {
  cursor: pointer;
}

#settings {
  label {
    pointer-events: none;
  }
}
